<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="AppSettings.config">
      <add key="merchantId" value="[External]"/>
      <add key="transactionKey" value="[External]" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ITransactionProcessor">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="https://ics2ws.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="Transaction.Xml.ITransactionProcessor" name="portXML" />-->
            <endpoint address="https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="Transaction.Xml.ITransactionProcessor" name="portXML" />
        </client>
    </system.serviceModel>
</configuration>