<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="merchantId" value="ucdavis_jpknoll"/>
      <add key="keysDirectory" value="keys"/>
      <add key="enableLog" value="true"/>
      <add key="logDirectory" value="logs"/>
      <add key="sendToProduction" value="false"/>
      <add key="serverURL" value="https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ITransactionProcessor">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="ITransactionProcessor1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="https://ics2ws.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="Transaction.Xml.ITransactionProcessor" name="portXML" />-->
            <endpoint address="https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="Transaction.Xml.ITransactionProcessor" name="portXML" />
        </client>
    </system.serviceModel>
</configuration>